[Desktop Entry]
Encoding=UTF-8
Name=Genix Core
Comment=genix P2P Cryptocurrency
Comment[de]=Verbinde mit dem genix peer-to-peer Netzwerk
Comment[fr]=genix, monnaie virtuelle cryptographique pair à pair
Comment[tr]=genix, eşten eşe kriptografik sanal para birimi
Exec=genix-qt %u
Terminal=false
Type=Application
Icon=genix128
MimeType=x-scheme-handler/genix;
Categories=Office;Finance;
