[Unit]
Description=genix's distributed currency daemon
After=network.target

[Service]
User=genixcore
Group=genixcore

Type=forking
PIDFile=/var/lib/genixd/genixd.pid
ExecStart=/usr/bin/genixd -daemon -pid=/var/lib/genixd/genixd.pid \
-conf=/etc/genixcore/genix.conf -datadir=/var/lib/genixd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
